{% extends "home.html" %}

{% block title %} 
    Create Posts
{% endblock %}

{% block content %} 

<div class="d-flex flex-column align-items-center m-3 gap-2">
    <h3 class="m-3">Create Posts</h3>
    <form action="/posts/create" method="post" style="width: 600px;">
        {% csrf_token %}
        <!-- 2 column grid layout with text inputs for the first and last names -->
        <div class="row mb-4">
            <div class="col">
                <div class="form-outline">
                <input type="text"id="form6Example1" name="title" class="form-control"/>
                <label class="form-label" for="form6Example1">Titulo</label>
                </div>
            </div>
            <div class="col">
                <div class="form-outline">
                <input type="text" id="form6Example2" name="category" class="form-control" />
                <label class="form-label" for="form6Example2">Categoria</label>
                </div>
            </div>
        </div>
    
        <!-- Text input -->
        <div class="form-outline mb-4">
        <input type="text" name="description" class="form-control">
        <label class="form-label" for="form6Example3">Descripcion</label>
        </div>
    
        <!-- Text input -->
        <div class="form-outline mb-4">
        <input type="text" name="image" class="form-control" />
        <label class="form-label" for="form6Example4">Imagen</label>
        </div>
    
        <!-- Message input -->
        <div class="form-outline mb-4">
        <textarea class="form-control" name="content" rows="4"></textarea>
        <label class="form-label" for="form6Example7">Content</label>
        </div>
    
        <!-- Submit button -->
        <button class="btn btn-primary btn-block mb-4">Crear</button>
    </form>
</div>

{% endblock %}

<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="/posts/create" method="post">
        {% csrf_token %}
        <input placeholder="Title" type="text" name="title">
        <input placeholder="Description" type="text" name="description">
        <input placeholder="Image" type="text" name="image">
        <textarea placeholder="Content" name="content"></textarea>
        <button>Crear</button>
    </form>
</body>
</html> -->