{% extends "home.html" %}

{% block title %} 
    Editar Publicacion
{% endblock %}

{% block content %} 

<div class="d-flex flex-column align-items-center m-3 gap-2">
    <h3 class="m-3">Editar Publicacion></h3>
    <form action="/posts/edit/{{ post.id }}" method="post" style="width: 600px;">
        {% csrf_token %}
        <!-- 2 column grid layout with text inputs for the first and last names -->
        <div class="row mb-4">
            <div class="col">
                <div class="form-outline">
                <input type="text" value="{{ post.title }}" name="title" class="form-control" />
                <label class="form-label" for="form6Example1">Titulo</label>
                </div>
            </div>
            <div class="col">
                <div class="form-outline">
                <input type="text" value="{{ post.category }}" name="category" class="form-control" />
                <label class="form-label" for="form6Example2">Categoria</label>
                </div>
            </div>
        </div>
    
        <!-- Text input -->
        <div class="form-outline mb-4">
        <input type="text" value="{{ post.description }}" name="description" class="form-control">
        <label class="form-label" for="form6Example3">Descripcion</label>
        </div>
    
        <!-- Text input -->
        <div class="form-outline mb-4">
        <input type="text"  value="{{ post.img }}" name="image" class="form-control" />
        <label class="form-label" for="form6Example4">Imagen</label>
        </div>
    
        <!-- Message input -->
        <div class="form-outline mb-4">
        <textarea class="form-control"  name="content" rows="4">{{ post.content }}</textarea>
        <label class="form-label" for="form6Example7">Content</label>
        </div>
    
        <!-- Submit button -->
        <button class="btn btn-primary btn-block mb-4">Crear</button>
    </form>
</div>

{% endblock %}



<!-- <!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Editar publicación</h1>
    <form action="/posts/edit/{{ post.id }}" method="post">
        {% csrf_token %}
        <input value="{{ post.title }}" placeholder="Title" type="text" name="title">
        <input value="{{ post.description }}" placeholder="Description" type="text" name="description">
        <input value="{{ post.img }}" placeholder="Image" type="text" name="image">
        <textarea placeholder="Content" name="content">{{ post.content }}</textarea>
        <button>Editar</button>
    </form>
</body>
</html> -->