{% extends "home.html" %}

{% block title %} 
    Posts
{% endblock %}

{% block content %} 

    <h1 class="m-3">Posts</h1>
    <nav class="navbar navbar-light bg-light w-100">
        
    </nav>

    <div class="d-flex gap-2 d-md-flex justify-content-md-end mb-3">
        <div class="container-fluid">
            
        </div>
        <a class="btn btn-warning" href="/posts/create" role="button">Crear</a>
    </div>
    
    <section class="posts">
        {% for post in posts %}

                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row g-0">
                      <div class="col-md-4 img-fluid rounded-start" style="background-image: url({{post.img}}); background-position: center; background-size: cover; width: 45%; height: auto;">
                        <!-- <img src="{{ post.img }}" class="img-fluid rounded-start" alt="post image" style="height: 100%; width: 100%;"> -->
                      </div>
                      <div class="col-md-8" style="width: 55%;">
                        <div class="card-body">
                            <h5 class="card-title">{{ post.title }}</h5>
                            <p class="card-text"><small class="text-muted">{{ post.created_date }}</small></p>
                            <p class="card-text">{{ post.category }}</p>
                            <p class="card-text">{{ post.description }}</p>
                            <p class="card-text"><small class="text-muted">Autor: {{ post.author.first_name }} {{ post.author.last_name }}</small></p>
                            <a  class="btn btn-primary" href="/posts/{{ post.id }}" role="button">Ver publicacion</a>
                        </div>
                      </div>
                    </div>
                </div>

        {% endfor %}
    </section>
{% endblock %} 