{% extends "base.html" %}
{% load static %}

{% block title %} 
Blog App
{% endblock %}

{% block content %}

    <h1 class="m-3">Bienvenido a Blog Beauty 💄 <small style="color: #D63384;">{{ user.username }} 💎</small> </h1>
    <h4 class="m-3 " style="color: darkgray;">Encuentra y Crea Publicaciones de belleza</h4>
    <div class="rounded mx-auto d-block m-3" style="width: 40rem; height: 30rem; background-image: url(https://images.unsplash.com/photo-1542435503-956c469947f6?ixlib=rb-1.2.1&raw_url=true&q=80&fm=jpg&crop=entropy&cs=tinysrgb&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774);">
    </div>

{% endblock %}