{% extends "home.html" %}

{% block title %} 
    Log In
{% endblock %}

{% block content %}
    
    <div class="d-flex flex-column align-items-center m-3">
        <h3 class="m-3">Log In</h3>
        <form method="post" action="" style="width: 400px;">
            {% csrf_token %}
            <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Username</label>
            <input type="text" class="form-control" name="username" required>
            </div>
            <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" class="form-control" name="password" required>
            </div>
            
            <button class="btn btn-primary">Iniciar sesión</button>
        </form>
        {% if error %}
            <p>{{ message }}</p>
        {% endif %}
    </div>

{% endblock %}

<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    
</body>
</html> -->